html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

a:link {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.page{
  
  /*width: 130px;*/
  width: 80%;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  
  /*width: 40px;*/
  text-align: center;
  text-indent: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}

h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}

.footer{
  margin: auto;
  border: 2px solid green;
  border-radius: 8px;
  text-align: center;
  width:90%;
}

.main{
    height: 100%;
    text-align: center;
}